.todo-notification {
  background-color: #a7c8cf;
  position: fixed;
  bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 6px 7px black;
  transition: all 0.5s ease;
  color: black;
  transition: transform .5s cubic-bezier(.24, .13, .39, 1.69);
  transform: translatey(0px);
  max-width: 300px;
  max-height: 200px;
  overflow: scroll;
}

.todo-notification.close {
  transition: transform .5s cubic-bezier(.65, -0.52, .38, .12);
  transform: translatey(500px)
}

.todo-notification .todo-notification-header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.todo-notification p {
  margin-top: 5px;
  margin-bottom: 15px;
}

.todo-notification button {
  border: none;
  border-radius: 5px;
}

.todo-notification-exit {
  width: 20px;
  height: 20px;
  font-size: 15px;
  background-color: black;
}

.todo-notification-buttons {
  display: flex;
  justify-content: space-evenly;
}

.todo-notification-buttons button {
  width: 70px;
  height: 30px;
}

.hide {
  display: none;
}

.primary-button {
  background-color: #50ad6a;
}

.secondary-button {
  background-color: #c7584a;
}

.yellow-button {
  background-color: #bab854;
}

.black-button {
  background-color: #262621;
}
