/* NOTES: color-pallete= https: //colorhunt.co/palette/dff2ebb9e5e87ab2d34a628a */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  outline: 5px solid red
}

body {
  margin: 0;
  display: flex;
}

nav {
  background-color: #4A628A;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .left {
  /*TODO: MAKE THIS LOOKS GOOD SOMEHOW */
}

nav .right {
  /*TODO: MAKE THIS LOOKS GOOD TOO BUT I DON'T KNOW HOW!!*/
}
